.icon-tray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-tray > div {
    margin: 0 .5em;
}

.bounce {
    transition: all .2s ease-in-out;
}

.bounce:hover {
    transform: scale(1.1);
}